<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">

    <Appenders>
        <RollingFile name="fileout" fileName="logs/latest.log" filePattern="logs/%d{dd.MM.yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{dd.MM.yyyy}][%d{HH:mm:ss}] [%t/%level]: %msg%n</Pattern>
            </PatternLayout>
            <Policies>
            	<SizeBasedTriggeringPolicy size="50 MB"/>
            	<OnStartupTriggeringPolicy/>
            	<TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%highlight{[%d{HH:mm:ss}] [%t/%level]: %msg%n}{FATAL=red, ERROR=bright_red, WARN=yellow, INFO=default, DEBUG=bright_green, TRACE=bright_cyan}" />
        </Console>
        
    </Appenders>

    <Loggers>
        <Logger name="org.quartz" level="ERROR" additivity="false">
      		<AppenderRef ref="stdout" />
            <AppenderRef ref="fileout" level="ERROR"/>
    	</Logger>
        
        <Root level="info">
            <AppenderRef ref="stdout" />
            <AppenderRef ref="fileout" level="info"/>
        </Root>
        
    </Loggers>

</Configuration>